<div class="nav">
  <h2>Panel de control</h2>
</div>
<h2 class="txt1">Bienvenido de nuevo</h2>
<div class="wrapp col">
  <div class="card2">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
  </div>
  <div class="cont1">
    <div class="flex1">
      <h4><i class="fa-solid fa-droplet"></i> Riego inteligente Automatico</h4>
      <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="value"
        optionLabel="label"
        optionValue="value"
      />
    </div>
    <div class="flex1">
      <h4><i class="fa-regular fa-clock"></i> Próximo riego: 4:56 min</h4>
    </div>
    <div class="card3" >
      <h4>
        Riego Manual
      </h4>
      <div class="flex1">
        <div class="btns">
          <i class="fa-solid fa-seedling"></i> <p>Parcela 1</p>
        </div>
        <div class="btns">
          <i class="fa-solid fa-leaf"></i> <p>Parcela 2</p>
        </div>
      </div>
    </div>
    <div class="card3" >
      <h4>
        Reabastecer bebederos
      </h4>
      <div class="flex1">
        <div class="btns">
          <i class="fa-solid fa-cow"></i> <p>corral 1</p>
        </div>
        <div class="btns">
          <i class="fa-solid fa-piggy-bank"></i> <p>Corral 2</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="wrapp pd">
  <div class="knob" >
    <p-knob [(ngModel)]="valuek1" valueTemplate="{value}%" />
    <p>Capacidad pila #1</p>
  </div>
  <div class="knob" >
    <p-knob [(ngModel)]="valuek2" valueTemplate="{value}%" />
    <p>Capacidad pila #2</p>
  </div>
  <div class="knob" >
    <p-knob [(ngModel)]="valuek3" valueTemplate="{value}%" />
    <p>Capacidad pila #3</p>
  </div>
</div>
<router-outlet />
